/* You can add global styles to this file, and also import other style files */
html,
body {
    background: #051622;
    margin: 0;
    /* font-family: "Roboto", sans-serif; */
    font-family: "BrandonGrotesqueWeb-Thin", sans-serif;
}
